.count {
    line-height: 100px;
    color: #fff;
    margin-left: 0;
    font-size: 4.8rem;
    font-weight: bold;
    border-bottom: solid 3px #fff;
}

#talkbubble {
    width: 120px;
    height: 80px;
    background: red;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    float: left;
    margin: 20px;
}

#talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid red;
    border-bottom: 13px solid transparent;
}

.linker {
    font-size: 20px;
    color: black;
}

.count-title {
    font-size: 2.1rem;
    color: #fff;
    font-weight: normal
}

.smt-counter {
    text-align: center;
}

.smt-counter h3 {
    font-size: 3.3rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}