.smt-time-support{text-align:center}
.smt-support{text-align:center;background:#f6f6f6;padding-top:15px;}
.support{text-align:center;}
.support img.img-circle.wp-post-image{margin-bottom:15px;}
.support-info{text-align:center;}
.smt-support .smt-big-title > small{text-transform:none;}
.support-info p{font-weight:bold;color:#ea4335;margin-bottom:15px;font-size:19px;}
.support-phone{margin-bottom:15px;font-size:19px;}
.support-phone img{width:30px;height:30px;}
.support
.support-social{margin-bottom:15px;}
.support-social i{font-size:20px;margin-left:10px;}
.fa.fa-facebook-official{color:#46629e}
.fa.fa-google-plus{color:#ea4335;}
.fa.fa-twitter{color:#4595d2}