.smt_news ul{margin:0;padding:0}
.smt_news ul li{margin:0;padding:0;}
.smt_news ul li span{margin-right:10px;float:left;display:table;}
.smt_news ul li a{color:#337ab7;font-weight:bold;display:table;}
.smt_news ul li{color:#888;margin-bottom:10px;}
.smt_tin_cong_ty{border-right:solid 1px #ccc;}